<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Главная страница</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="all">
	<link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
	<div class="wrapper">
		<main class="page">
			<header class="header">
	<div class="header__row">
			<div class="menu__icon icon-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="menu__body">
				<ul class="menu__list">
					<li><a href="/" class="menu__link">Главная</a></li>
					<li><a href="/tickets" class="menu__link">Билеты</a></li>
					<li><a href="/tours" class="menu__link">Туры</a></li>
					<li><a href="/contacts" class="menu__link">Контакты</a></li>
				</ul>
			</div>
		<div class="header__logo"><img src="img/logo3.png" alt=""></div>
	</div>
</header>
			<div class="main-screen">
				<div class="main-screen__bg ibg">
					<img src="img/fon.jpg" alt="">
				</div>

			</div>
			<div class="content">
				<section class="generation">
					<div class='container'>
						<div class="generation__block block">
							<div class="block__icon"><img src="img/icons/title/01.png" alt=""></div>
							<h1 class="block__title">Отдых по-королевски</h1>
							<div class="block__text">Невозможно представить человека, который не мечтает окунуться в самое незабываемое путешествие в его жизни. Это самая заветная часть, которую мы с нетерпением ждём, просыпаясь каждый день на работу. Слово «курорт» в настоящее время стало настолько популярным, что курортами называют центры горнолыжного спорта (горнолыжный курорт), приморские города и отели у моря, отели в местах с благоприятным климатом, где предлагают программы красоты, разнообразные экскурсии, релаксации. На нашем сайте вы можете в пару кликов выбрать билеты на курорт своей мечты. </div>
						</div>
					</div>
				</section>
				<section class="brands">
					<div class="brands__row">
						<div class="brands__column brands__column_b">
							<div class="brands__item item">
								<span class="item__logo">
									
								</span>
								<span class="item__image ibg">
									<img src="img/brands/01.jpg" alt="">
								</span>
							</div>
						</div>
						<div class="brands__column">
							<div class="brands__content block">
								<div class="block__icon"><img src="img/icons/title/03.png" alt=""></div>
								<h2 class="block__title">лето солнце море песок</h2>
								<div class="block__text block__text_j"> Берег моря прекрасен в любое время года. Независимо лежит на берегу снег или жёлтый песок. Когда человек находится на берегу моря, он душевно отдыхает, забывая многие проблемы. Наслаждаясь просторами, которые предоставляет берег моря.  </div>
							</div>
							<div class="brands__image ibg">
								<img src="img/brands/02.jpg" alt="">
							</div>
						</div>
					</div>
				</section>
				<section class="brands brands_rev">
					<div class="brands__row">
						<div class="brands__column brands__column_b">
							<div class="brands__item item">
								<span class="item__logo">
									
								</span>
								<span class="item__image ibg">
									<img src="img/brands/04.jpg" alt="">
								</span>
							</div>
						</div>
						<div class="brands__column">
							<div class="brands__content block">
								<div class="block__icon"><img src="img/icons/title/02.png" alt=""></div>
								<h2 class="block__title">Горы</h2>
								<div class="block__text block__text_j">Гора это то место, с которого можно увидеть умопомрачительный пейзаж, а так же весь город, в зависимости от того где она размещена. Гуляя в горах, чувствуешь себя свободным, будь-то птица в небесах.</div>
							</div>
							<div class="brands__image ibg">
								<img src="img/brands/03.jpg" alt="">
							</div>
						</div>
					</div>
				</section>
				<section class="brands brands_last">
					<div class="brands__row">
						<div class="brands__column">
							<div class="brands__item item">
								<span class="item__logo">
									
								</span>
								<span class="item__image ibg">
									<img src="img/brands/05.jpg" alt="">
								</span>
							</div>
						</div>
						<div class="brands__column">
							<div class="brands__content block">
								<div class="block__icon"><img src="img/icons/title/04.png" alt=""></div>
								<h2 class="block__title">Европа</h2>
								<div class="block__text block__text_j">Самые известные и яркие достопримечательности мира находятся именно в Европе. Великие творения известных мастеров древности и современников привлекают огромное количество туристов в европейские страны. Биг-бен, лувр, нойшванштайн уже ждут вас!  </div>
							</div>
							<div class="brands__image ibg">
								<img src="img/brands/06.jpg" alt="">
							</div>
						</div>
						<div class="brands__column">
							<div class="brands__item item">
								<span class="item__logo">
									
								</span>
								<span class="item__image ibg">
									<img src="img/brands/07.jpg" alt="">
								</span>
							</div>
						</div>
					</div>
				</section>

				<footer class="footer">
	<div class='container'>
		<div class="footer__row">
			<div class="footer__column">
				<div class="footer__address">
					<p>BELIKOV Moscow</p>
					<p>115280 Autozavodskya Street </p>
					<p>kostyftre@inbox.ru</p>
				</div>
			</div>
			<div class="footer__column">
				<div class="footer__social social">
					<a href="https://twitter.com/_Weissberg_" class="social__link">
						<img src="img/icons/social/01.png" alt="">
					</a>
					<a href="https://www.instagram.com/ilja_waissberg/" class="social__link2">
						<img src="img/icons/social/insta.png" alt="">
					</a>
					<a href="https://vk.com/king_of_cum" class="social__link2">
						<img src="img/icons/social/vk.png" alt="">
					</a>
				</div>
			</div>
			<div class="footer__column">
				<div class="footer__dev dev">
					<span class="dev__text">Designed by</span>
					<span class="dev__icon">
						<img src="img/icons/logo2.2.png" alt="">
					</span>
				</div>
			</div>
		</div>
	</div>
</footer>
			</div>
		</main>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>