<!DOCTYPE html>
<html>
<head>
    <title>Продажа авиабилетов</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="all">
    <link href="../css/style.css"  rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div class="wrapper">
    <main class="page">

        <header class="header">
            <div class="header__row">
                <div class="menu__icon icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu__body">
                    <ul class="menu__list">
                        <li><a href="/" class="menu__link">Главная</a></li>
                        <li><a href="/tickets" class="menu__link">Билеты</a></li>
                        <li><a href="/tours" class="menu__link">Туры</a></li>
                        <li><a href="/contacts" class="menu__link">Контакты</a></li>
                    </ul>
                </div>
                <div class="header__logo"><img src="img/logo3.png" alt=""></div>
            </div>
        </header>









        <div class="main-screen">

            <div class="main-screen__bg ibg">
                <img src="img/fon.jpg" alt="">
            </div>

        </div>

            <div class="container1">



                <H1>Blog</H1>
                <H1>
                    <form method="post">
                        <input type="text" name="text" placeholder="Введите сообщение"/>
                        <input type="text" name="tag" placeholder="Тэг"/>
                        <button type="submit">Добавить</button>
                    </form>
                </H1>



                <h2>List of message</h2>
                <H1>
                    <form method="post" action="filter">
                        <input type="text" name="filter" placeholder="Поиск по id">
                        <button type="submit">Найти</button>
                    </form>
                    {{#tickets}}
                        <div>
                            <b>{{id}}</b>
                            <span>{{text}}</span>
                            <i>{{tag}}</i>

                        </div>
                    {{/tickets}}

                </H1>


            </div>












            <footer class="footer">
                <div class='container'>
                    <div class="footer__row">
                        <div class="footer__column">
                            <div class="footer__address">
                                <p>BELIKOV Moscow</p>
                                <p>115280 Autozavodskya Street </p>
                                <p>kostyftre@inbox.ru</p>
                            </div>
                        </div>
                        <div class="footer__column">
                            <div class="footer__social social">
                                <a href="https://twitter.com/_Weissberg_" class="social__link">
                                    <img src="img/icons/social/01.png" alt="">
                                </a>
                                <a href="https://www.instagram.com/ilja_waissberg/" class="social__link2">
                                    <img src="img/icons/social/insta.png" alt="">
                                </a>
                                <a href="https://vk.com/belikov__ilya" class="social__link2">
                                    <img src="img/icons/social/vk.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="footer__column">
                            <div class="footer__dev dev">
                                <span class="dev__text">Designed by</span>
                                <span class="dev__icon">
						<img src="img/icons/logo2.2.png" alt="">
					</span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>