	<!DOCTYPE html>
	<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<title>Туры </title>
	
		<meta charset="UTF-8">
		<link href="../css/tour.css" th:href="@{/css/tour.css}" rel="stylesheet" />
	
 		
	</head>
	
	<body>

		<div class="wrapper">
			
			<div class="content">

				<div class="hi">
					<div class="container">
						<div class="hi__row">
							<div class="hi__body">
								<div class="hi__title">Выбераешь тур?</div>
								<ul class="hi_list">
									<li>Лучшие цены!</li>
									<li>Обширный выбор!</li>
									<li>Лучшие предлодложения</li>
									<li>Консультация перед покупкой!</li>

								</ul>
							</div>
							<div class="hi_image">
								<img src="../img/cpu.jpg" alt=""></div>
							
						</div>
					</div>
				</div>

				<div class="what">
					<div class="container">
						<div class="what__row">
							<div class="what__image">
								<img src="../img/8.1.jpg" alt="">
							</div>
							<div class="what__body">
								<div class="what__title title">Где найти лучший тур?</div>

								<div class="what__text">Вероятно, выбирая куда бы поехать, вы заметили, что такому пункту как страна придают большое значение. Почему именно ему? Это самое важный компонент хорошнго отдыха и от правильного подбора многое зависит, погода и люди в большей степени влияют на получение удовольствия от досуга. Именно поэтому мы работаем над тем, чтобы каждый мог найти тур индивидуально для себя. </div>
							</div>
							
						</div>
					</div>
				</div>

				<div class="columns">
					<div class="container">
						<div class="columns__title title">
							АКТУАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
						</div>
						<div class="columns__row">
							<div class="culumns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image">
											<img src="../img/9.1.jpg" alt="">
										</div>
										<div class="item__body">
											<div class="item__title"> Мальдивы</div>
											<div class="item__text">Думая о лучших морских курортах мира – мальдивы это, в большинстве случаев, первое, что приходит на мысль. Мальдивские острова –
												это череда изумительной красоты атоллов в Индийском океане. Отличное место для любителей пляжного отдыха. Белые песчаные пляжи, голубая вода, теплый климат и комфортабельные гостиницы гарантируют незабываемый отдых высокого класса.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="culumns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image">
											<img src="../img/9.3.jpg" alt="">
										</div>
										<div class="item__body">
											<div class="item__title"> Рио-де-жанейро</div>
											<div class="item__text">Каким одним словом можно описать Рио-де-Жанейро? Роскошный! Город с населением свыше 15 млн. человек, при этом один из красивейших и лучших пляжных курортов мира. Несомненно, туристов привлекают известные памятники и достопримечательности. В первую очередь это статуя Христа. Знаменитый Бразильский карнавал притягивает сотни тысяч зрителей, ведь нигде больше не увидеть подобное шоу.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="culumns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image">
											<img src="../img/9.2.jpg" alt="">
										</div>
										<div class="item__body">
											<div class="item__title"> Австрия</div>
											<div class="item__text">Австрия — самая горнолыжная страна Европы. В Австрийских Альпах зимний туризм процветает давно, и курорты Зальцбурга, Тироля, Форларльберга, Штирии и Каринтии стали традиционными. Всего же в Австрии 71 горнолыжный регион и 800 курортов. Пять из таких регионов (ледники Капрун, Штубай, Питцталь, Туксер, Мельталь) дают возможность спортсменам кататься круглогодично, в остальных местах сезон, начавшись в ноябре—декабре, длится до апреля—мая.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="culumns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image">
											<img src="../img/9.4.jpg" alt="">
										</div>
										<div class="item__body">
											<div class="item__title"> Кёльн</div>
											<div class="item__text">Во время Второй мировой войны был практически полностью уничтожен. Но прекраснейший собор, по негласному сговору лётчиков, остался практически нетронутым. Ни у кого не поднялась рука разрушить такое величественное здание. Третья по высоте церковь в мире. Постройка начата в 1248 году и до сих пор не закончена! Существует легенда, что обманутый женой архитектора Сатана сказал: «Да наступит конец света с последним камнем на этом соборе!». </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="vertical">
					<div class="container">
						<div class="vertical__title title"> ДРУГИЕ ТОВАРЫ
						</div>

						<div class="vertical__body">
							<div class="vertical__row">
								<div class="vertical__column vertical__column_1">
									<div class="vertical__item">
										<div class="vertical__subtitle">ГЛАВНАЯ СТРАНИЦА</div>
										<div class="vertical__label">
											<img src="img/10.1.jpg" alt="">
										</div>
										<div class="vertical_text">Здесь вы узнаете не только главную информацию о нашей компании, но и много другого интересного</div>
										<a href="/" class="vertical__btn">Главная страница </a>
									</div>
								</div>
								<div class="vertical__column vertical__column_2">
									<div class="vertical__item">
										<div class="vertical__subtitle">БИЛЕТЫ</div>
										<div class="vertical__label">
											<img src="img/10.3.jpg" alt="">
										</div>
										<div class="vertical_text">Здесь мы поможем выбрать подходящую именно вам видеокарту и расскажем несколько интересных фактов о них</div>
										<a href="/tickets" class="vertical__btn">Билеты </a>
									</div>
								</div>
								<div class="vertical__column vertical__column_3">
									<div class="vertical__item">
										<div class="vertical__subtitle">КОНТАКТЫ</div>
										<div class="vertical__label">
											<img src="img/10.4.jpg" alt="">
										</div>
										<div class="vertical_text">Здесь мы поможем выбрать подходящую вам оперативную память для вашего ПК и расскажем несколько интересных фактов о ней</div>
										<a href="/contacts" class=" vertical__btn">Контакты </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




			</div>

			<footer class="footer">
				<div class="container">
					<div class="footer_row">
						<div class="footer__text">
							Designed by BELIKOV 2021
						</div>
					</div>
				</div>
			</footer>
		</div>

	</body>
</html>

